# Appwrite
_APP_ENV=production
APPWRITE_VERSION=latest

# Domain
_APP_DOMAIN=cloud.phoxtra.com

# Database
MYSQL_ROOT_PASSWORD=change_me
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=appwrite

# Redis
REDIS_PASSWORD=change_me

# Appwrite Security
APP_SECRET=change_me
